@page "/RazorComponent/DemoProduct"
<h3 class="text-primary">Demo Product</h3>
<p>Favorite number : @FavoriteCounter<br /></p>
<p>Producted Selected : @SelectedProduct</p>
<div class="row">
    @foreach(var prop in Products)
    {
        <_IndividualComponent Product="@prop" OnFavoriteCountUpdate="FavoriteCountUpdate" OnSelectedProductChanged="SelectedProductChange">
            <FirstFragment>#1 </FirstFragment>
            <SecondFragment>#2</SecondFragment>
        </_IndividualComponent>
    }
</div>
@code {
    List<Demo_Product> Products = new();
    int FavoriteCounter { get; set; }
    string SelectedProduct { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                Price = 100.99,
                IsActive = false,
                ProductProperties = new()
                {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Rose"},
                     new Demo_ProductProp { Id = 2, Key = "Size", Value = "20oz"},
                    new Demo_ProductProp { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        Products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                Price = 100.99,
                IsActive = true,
                ProductProperties = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
                new Demo_ProductProp { Id = 2, Key = "Size", Value = "18oz" },
                new Demo_ProductProp {Id = 3,Key = "Color",Value = "White"}
            }
            });
    }

    protected void FavoriteCountUpdate(bool isSelected)
    {
        if(isSelected)
        {
            FavoriteCounter++;
        }
        else
        {
            FavoriteCounter--;
        }
    }
    protected void SelectedProductChange(string productName)
    {
        SelectedProduct = productName;
    }
}
